.deps/
**/.deps/
.deps/*
*.m4
*.Po
*.Plo
configure
depcomp
Makefile
Makefile.in
autom4te.cache/
*.o
config.*
install-sh
*.lock
*.log
*.mod.c
*.so
*.a
*.*~
*.project
libtool
ltmain.sh
missing
stamp-h1
modeo-client
modeo-server
modeo-server-wd
modeo-server-media
modeo-server-notifier
modeo-external-modem
modeo-direct-ip
modeo-license
modeo-intercom
unit-modeo-client
unit-modeo-server
unit-modeo-server-wd
unit-modeo-server-media
unit-modeo-server-notifier
unit-modeo-external-modem
unit-modeo-direct-ip
unit-modeo-license
unit-modeo-intercom
unit-libc2modeo
compile
../libc2fj/src/main.o
